body, html {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100% margin: 0;
  padding: 0;
}

html {
  background-image: url("images/binary.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.group-info {
  float: left;
  width: auto;
  padding: 8px;
}

.window-container {
  height: 50%;
  margin-top: 30px;
  display: flex;
}

.container {
  margin-top: 20px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

#left-window {
  padding: 8px;
}

#right-window, #middle-window {
  flex: 1;
  padding: 8px;
  border: solid 1px;
  border-collapse: collapse;
}

#left-window:empty, #right-window:empty, #middle-window:empty {
  display: none;
}

.middle-window img {
  max-width: 100%;
  max-height: 100%;
}

li {
  display: grid;
  padding: 8px;
}

select {
  width: 75%;
  text-overflow: clip;
}

table, td, th {
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #666;
  color: black;
}
